!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Mona Web . Keb Hana Bank
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/monaweb/css/bootstrap.css', rel='stylesheet')
    script(src='/monaweb/js/Chart.min.js')
    link(href='/monaweb/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/monaweb/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/monaweb/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/monaweb/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/monaweb/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/monaweb/ico/favicon.png')
    
  body
    .container-fluid
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.mt-2        
        a.navbar-brand Mona Web        
        button.btn.btn-outline-primary(onclick='window.open("/monaweb/monitoring", "_self")') Monitoring
        button.btn.btn-outline-primary(onclick='window.open("/monaweb/monitoring_maps", "_self")') Debit Card Mapping
        
      .jumbotron
        .container.auto.text-center
          h1.display-4.auto MONA
          p.lead.auto Monitoring Assistant
        hr.my-4
        .btn-group.ml-auto.w-100.justify-content-center(role="group",aria-label="Menu Group")
          a.button.btn.btn-info(type="button",href='/monaweb/merchant') Card Report
          a.button.btn.btn-info(type="button",href='/monaweb/summary_new') Summary Report
          a.button.btn.btn-info(type="button",href='/monaweb/channel_new') Channel Report
          a.button.btn.btn-info(type="button",href='/monaweb/billpayment_new') Bill Payment Report
          a.button.btn.btn-info(type="button",href='/monaweb/check') Check Transaction
      hr
      .footer       
        .float-right
            <img src="/monaweb/img/kebhana_logo_new.gif" class="mb-2"/> © 2017
  include partials/scripts
